absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
click
colorama
contourpy
cycler
datasets
dill
einops
evaluate
filelock
fonttools
frozenlist
fsspec
huggingface-hub
idna
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
mpmath
multidict
multiprocess
networkx
nltk
numpy
packaging
pandas
pillow
portalocker
propcache
psutil
pyarrow
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
responses
rouge_score
sacrebleu
safetensors
scipy
sentencepiece
six
sympy
tabulate
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
xxhash
yarl
